* {
  margin: 0;
  padding: 0;
}

/* Подключение шрифтов */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.main__vue {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000638;
}

.panel {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000638;
}

.panel__vue {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel__vue-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 15%;
  min-height: 100vh;
  background: #000638;
  font-family: "Roboto", sans-serif;
  margin-bottom: auto;
}

.panel-logotype {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-logotype__image {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 35%;
}

.panel-logotype__image img {
  width: 100%;
}

.panel-logotype__profile {
  width: 90%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.8rem 0 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #558076;
  border-radius: 0.25rem;
  color: #ffffff;
  text-decoration: none;
}

.panel-menu {
  display: flex;
  justify-content: center;
}

.panel-menu__list {
  width: 100%;
  list-style: none;
}

.panel-menu__list-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.panel-menu__list-item i {
  padding: 1rem 0.5rem 1rem 1rem;
  margin-left: 0.25rem;
  color: #ffffff;
  transition: all 0.2s ease-in;
}

.fa-phone {
  transform: scale(-1, 1);
}

.panel-menu__list-item a {
  padding: 1rem 1rem 1rem 0.5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
}

.panel-control {
  width: 85%;
  min-height: 100vh;
  background: #e9e9ef;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.activemenu {
  background: #558076;
  color: #ffffff !important;
  transition: all 0.2s ease-in;
}

.activemenu a {
  color: #ffffff !important;
}

.panel-control__user {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.panel-control__user-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel-control__user-photo {
  padding: 0.8rem 2rem 0.8rem 0;
}

.panel-control__user-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.panel-control__user-photo img:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in;
}

.panel-control__information {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.panel-control__information-name {
  color: #000000;
  font-size: 1.1rem;
}

.panel-control__information-position {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: #558076;
}

.panel-control__title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2rem;
}

.panel-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-status__block {
  padding: 2rem;
  margin: 2rem 2rem 0 2rem;
  width: 25%;
  background: #ffffff;
  border-radius: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in;
}

.panel-status__figure {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-status__figure i {
  font-size: 1.25rem;
}

.panel-status__infromation {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.panel-status__value {
  margin-top: 0.25rem;
  font-size: 2rem;
}

.icon-blue {
  color: #009afc;
}

.icon-green {
  color: #27de88;
}

.icon-purple {
  color: #8105d8;
}

.icon-red {
  color: #ff6464;
}

.last-applications {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-applications__block {
  margin: 2rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 0.25rem;
}

.last-applications__block2 {
  margin: 2rem;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 0.25rem;
}

.last-applications__block-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #efeeef;
}

.last-applications__block-header h2 {
  margin: 1rem 0 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.last-applications__block-header a {
  padding: 0.5rem;
  margin: 1rem 1.5rem 1rem 0;
  color: #181818;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #558076;
  border: 0.05rem solid #558076;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in;
}

.last-applications__block-header a:hover {
  color: #181818;
  border: 0.05rem solid #181818;
  transition: all 0.2s ease-in;
}

.last-applications__block-text {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #efeeef;
}

.last-applications__block-text span {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #000000;
}

.last-applications__description-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efeeef;
  border-top: 1px solid #efeeef;
  padding: 1rem;
}

.last-applications__description-block:nth-child(1) {
  border-top: 0px solid #efeeef;
}

.description-block__number {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-block__image {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-block__image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.description-block__image span {
  margin-left: 0.5rem;
}

.description-block__date {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-block__status {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Бургер */

#toggle {
  display: none;
  width: 2rem;
  height: auto;
  margin-left: 2rem;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after {
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background: #000638;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger-block {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
}

.no-active {
  display: none;
}

.nav-list-hamburder {
  margin-top: 1rem;
  list-style: none;
}

.nav-menu-hamburder {
  width: 100%;
  height: 16rem;
  position: absolute;
  z-index: 10;
  margin-top: 5rem;
  background: rgba(5, 7, 27, 0.8);
  text-align: center;
}

.nav-list__item-hamburder {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Конец бургера */

/* Дополнительные стили для статус */

.status-scanned span {
  background: #4863b2 !important;
  color: #ffffff !important;
}

.status-shipped span {
  background: #ebba16 !important;
  color: #ffffff !important;
}

.status-delivered span {
  background: #558076 !important;
  color: #ffffff !important;
}

.status-cancelled span {
  background: #ec7789 !important;
  color: #ffffff !important;
}

.description-block__status span {
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  background: #eeeeee;
  color: #ff7574;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.applications-block__control {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.applications-block__control-view {
  padding: 0.5rem;
  background: #4863b2;
  color: #ffffff;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin-right: 0.25rem;
}

.applications-block__control-view:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.applications-block__control-delete {
  cursor: pointer;
  padding: 0.5rem;
  background: #ec7789;
  color: #ffffff;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin-left: 0.25rem;
}

.applications-block__control-delete:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.create-goods__modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-goods__modal-block {
  margin: 2rem 2rem 0 2rem;
  width: 100%;
  background: #f80000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.common-return {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in;
}

.common-return i {
  margin-right: 0.5rem;
  color: #558076;
  transition: all 0.2s ease-in;
}

.common-return a {
  color: #558076;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.common-return:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.nomenu {
  position: absolute !important;
}

.close-header__mobile {
  color: #ffff;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  position: absolute;
  font-size: 2rem;
  transition: all 0.2s ease-in;
}

.close-header__mobile:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

/* Адаптация под все экраны */

@media screen and (max-width: 1600px) {
  .description-block__status span {
    width: 40%;
  }
}

@media screen and (max-width: 1440px) {
  .description-block__status span {
    width: 40%;
  }

  .panel-status__block {
    padding: 2rem;
    margin: 2rem 0.5rem 0 0.5rem;
  }

  .panel-status__block:nth-child(1) {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .panel-status__block:nth-child(4) {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .description-block__image span {
    margin-left: 0.8rem;
  }

  header {
    max-width: 16%;
  }
}

@media screen and (max-width: 1366px) {
  header {
    max-width: 17%;
  }

  .panel-logotype__image {
    width: 40%;
  }
}

@media screen and (max-width: 1280px) {
  .description-block__status span {
    width: 50%;
  }

  header {
    max-width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .panel-control {
    width: 100%;
  }

  #toggle {
    display: block;
  }

  .panel-control__title {
    margin-right: auto;
  }
}

@media screen and (max-width: 1080px) {
  header {
    max-width: 24%;
  }

  .panel-status {
    flex-wrap: wrap;
  }

  .panel-status__block {
    width: 39%;
  }

  .panel-status__block:nth-child(1) {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .panel-status__block:nth-child(2) {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .panel-status__block:nth-child(3) {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .panel-status__block:nth-child(4) {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    max-width: 26%;
  }
}

@media screen and (max-width: 945px) {
  .panel-status__block {
    width: 38%;
  }
}

@media screen and (max-width: 897px) {
  .panel-status__block {
    width: 38%;
  }

  .description-block__image span {
    width: 55%;
    margin-left: 0rem;
    text-align: center;
  }
}

@media screen and (max-width: 945px) {
  .panel-status__block {
    width: 38%;
  }
}

@media screen and (max-width: 888px) {
  .description-block__status span {
    width: 60%;
  }
}

@media screen and (max-width: 945px) {
  .panel-status__block {
    width: 37%;
  }
}

@media screen and (max-width: 800px) {
  .panel-status__block {
    width: 36%;
  }
}

@media screen and (max-width: 768px) {
  header {
    max-width: 32%;
  }
}

@media screen and (max-width: 756px) {
  .description-block__status span {
    width: 65%;
  }
}

@media screen and (max-width: 742px) {
  .panel-status__block {
    width: 35%;
  }

  .last-applications__block-text {
    flex-direction: column;
  }

  .last-applications__block-text span {
    margin: 0.5rem;
    font-size: 1.1rem;
  }

  .last-applications__description-block {
    flex-direction: column;
  }

  .description-block__number {
    margin: 0.5rem;
    width: 100%;
  }

  .description-block__image {
    margin: 0.5rem;
    width: 100%;
  }

  .last-applications__block-text span {
    width: 100%;
  }

  .description-block__date {
    margin: 1rem;
    width: 100%;
  }

  .description-block__status {
    margin: 0.5rem;
    width: 100%;
  }

  .description-block__status span {
    width: 30%;
  }

  .description-block__image span {
    width: auto;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 693px) {
  .panel-status__block {
    width: 100%;
  }

  .panel-status__block:nth-child(1) {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .panel-status__block:nth-child(2) {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .panel-status__block:nth-child(3) {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .panel-status__block:nth-child(4) {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    max-width: 38%;
  }
}

@media screen and (max-width: 600px) {
  .panel-control__information-name {
    display: none;
  }

  .panel-control__information-position {
    display: none;
  }

  header {
    max-width: 45%;
  }
}

@media screen and (max-width: 550px) {
  header {
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  header {
    max-width: 55%;
  }
}

@media screen and (max-width: 478px) {
  .description-block__status span {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  header {
    max-width: 60%;
  }
}

@media screen and (max-width: 430px) {
  .panel-control__title {
    font-size: 1.2rem;
  }

  .last-applications__block-header {
    flex-direction: column;
  }

  .last-applications__block-header h2 {
    margin-bottom: 0.7rem !important;
    margin: 1rem;
  }

  .last-applications__block-header a {
    margin-top: 0.7rem !important;
    margin: 1rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    max-width: 100%;
  }
}

@media screen and (max-width: 343px) {
  .description-block__status span {
    width: 50%;
  }

  .panel-status__figure {
    width: 2.5rem;
    height: 2.5rem;
  }

  .panel-status__figure i {
    font-size: 1rem;
  }
}
