/* Подключение шрифтов */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.user-info__modal-block {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.user-info__modal {
  width: 35%;
  background: #ffffff;
  border-radius: 0.25rem;
}

.user-info__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #efeeef;
}

.user-info__title h3 {
  font-weight: 400;
  margin: 1rem 0 1rem 1rem;
  font-family: "Roboto", sans-serif;
}

.user-info__title i {
  margin: 1rem 1rem 1rem 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.user-info__title i:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.user-info__user-block {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__user-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__user-image img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.user-info__user-information {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.user-info__user-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border-bottom: 1px solid #558076;
  font-size: 0.8rem;
}

.user-info__key {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.user-info__value {
  margin-left: 0.3rem;
  font-family: "Roboto", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.disable {
  display: none !important;
}

/* Адаптация под все экраны */

@media screen and (max-width: 1680px) {
  .user-info__modal {
    width: 42.5%;
  }
}

@media screen and (max-width: 1600px) {
  .user-info__modal {
    width: 45%;
  }
}

@media screen and (max-width: 1440px) {
  .user-info__modal {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .user-info__modal {
    width: 55%;
  }
}

@media screen and (max-width: 1280px) {
  .user-info__modal {
    width: 60%;
  }

  .user-info__title i {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1080px) {
  .user-info__modal {
    width: 60%;
  }

  .user-info__title i {
    font-size: 1.6rem;
  }

  .user-info__user-block {
    flex-direction: column;
  }

  .user-info__user-image img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .user-info__user-information {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .user-info__modal {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .user-info__modal {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .user-info__modal {
    width: 85%;
  }
}

@media screen and (max-width: 411px) {
  .user-info__user-image img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .user-info__modal {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .user-info__user-image img {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 360px) {
  .user-info__user-image img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 350px) {
  .user-info__modal {
    width: 100%;
    border-radius: 0rem;
  }

  .user-info__title h3 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 336px) {
  .user-info__title h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .user-info__user-text {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .user-info__user-image img {
    width: 125px;
    height: 125px;
  }
}
